// Imports 
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


// Variables
$bg-colour: #131313;
$bg-hover-colour: #191919;
$base-color: #c6538c;
$navbar-height: 60px;
$font-family: 'Varela Round','Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;



html {
  scroll-behavior: smooth;
  background-color: $bg-colour;
}

body {
  margin: 0;
  font-family: $font-family;
  background-color: $bg-colour;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: $bg-colour;
  color: white;
}

a{
  color: inherit;
  text-decoration: none;
}

.flex-center {
  display:flex;
  align-items: center;
  justify-content: center;
}

.debug-border {
  border: 1px blue solid;
}

.clickable{
  cursor: pointer;
}

.background{
  @extend .flex-center;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 50%;
}

@mixin jiggle($duration) {
  animation: jiggle-anim $duration infinite;
}

@keyframes jiggle-anim {
  0% {
      transform: rotate(-.5deg);
      animation-timing-function: ease-in;
  }

  50% {
      transform: rotate(1deg);
      animation-timing-function: ease-out;
  }
}
