.Home {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.billboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 10px;

    height: 60vh;
    width: 85vw;
    border: 1px black solid;

}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 10px;

    height: 180px;
    width: 300px;
    border: 1px black solid;

}