.Home {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.billboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 10px;

    height: 60vh;
    width: 85vw;
    border: 1px black solid;

}