@import '../../assets/global.scss';
@import '../../assets/_theme.scss';

.Search{
    @extend .flex-center;
    flex-direction: column;
    padding: 75px 50px;

    .header{
        width: 100%;
        height: var(--navbar-height);
        display: flex;
        justify-content: flex-start;
        align-items: center;

        span {
            font-size: 30px;
            text-transform: capitalize;
            padding: 0px 30px;
        }
        select {
            font-family: inherit;
            height: fit-content;
            text-transform: capitalize;
            padding: 5px 10px;
            font-size: 18px;
            background-color: var(--bg-lighter-colour);
            border: 2px var(--highlight-colour) solid;
            color: var(--font-colour);
            outline: none;
            border-radius: 3px;
        }
        option{
            background-color: var(--bg-lighter-colour);
        }
    }

    .grid{
        --cards: 8; 
        width: 100%;
        max-width: 100%;
        padding: 20px 100px ;
        display: grid;
        row-gap: 25px;
        grid-template-columns: repeat(var(--cards), calc(100% /var(--cards)));
        height: fit-content;
    }
}