@import '../../assets/global.scss';
@import '../../assets/_theme.scss';

.Browse{
    @extend .page;
    flex-direction: column;

    .page-content {
        padding: 20px 50px;
    }

    .header{
        width: 100%;
        height: var(--navbar-height);
        display: flex;
        justify-content: flex-start;
        align-items: center;

        span {
            font-size: 30px;
            text-transform: capitalize;
            padding: 0px 30px;
            font-weight: bold;
            letter-spacing: 1px;
        }

    }

    .grid{
        --cards: 8; 
        width: 100%;
        max-width: 100%;
        padding: 20px 100px ;
        display: grid;
        row-gap: 25px;
        grid-template-columns: repeat(var(--cards), calc(100% /var(--cards)));
        height: fit-content;
    }
}