@import '../assets/global.scss';

.Card {
    @extend .flex-center, .clickable;
    position: relative;
    height: var(--card-height);
    aspect-ratio: var(--card-aspect-ratio);
    margin: 0 8px;
    transition: var(--transition) all;
    border-radius: var(--card-border-radius);
    color: var(--card-font-colour);
    overflow: hidden;
    border: 2px transparent solid;
    filter: drop-shadow(0 8px 4px var(--card-drop-shadow-colour));

    .title{
        @extend .flex-center, .fill;
        background: var(--card-bg-colour);
        position: absolute;
    }

    img{
        @extend .flex-center, .fill;
        position: absolute;
        z-index: 1;
        object-fit: cover;
    }
    .overlay {
        @extend .flex-center, .fill;
        position: relative;
        background-color: #0c0c0c2a;
        z-index: 2;
        font-size: 50px;
        transition: var(--transition);

        span{
            position: absolute;
            height: 10px;
            width: 100%;
            background: 
                linear-gradient(to right, var(--card-progress-bar-right-colour), var(--card-progress-bar-right-colour)),
                linear-gradient(to right, var(--card-progress-bar-left-colour), var(--card-progress-bar-left-colour));
            background-size: 100% 0.5em, 0 0.5em;
            background-position: 100% 100%, 0 100%;
            background-repeat: no-repeat;
            bottom: 0;
        }
    }
    .overlay:hover + button{
        display: flex;
    }
    button {
        @extend .flex-center, .clickable, .circle;
        display: none;
        position: absolute;
        width: 30px;
        top: 5px;
        right: 5px;
        outline: none;
        background: var(--bg-lighter-colour);
        border: none;
        color: var(--card-font-colour);
        font-size: 20px;
        transition: var(--transition);
        opacity: 70%;
        pointer-events:visible;
        z-index: 2;
    }
    button:hover{
        opacity: 100%;
        display: flex;
    }
}
.Card:hover {
    transform: scale(1.07);
    border: 2px var(--card-hover-colour) solid;
}
.Card:hover .overlay {
    background-color: #0c0c0cbe;
}