@import '../assets/global.scss';

.Carousel{
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .wrapper {
        width: 100%;
        position: relative;
        scroll-behavior: smooth;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 15vw;
        padding: 20px 0;

        .container {
            width: fit-content;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0 50px;
        }
    }
    .scroll-arrow{
        position: absolute;
        top: 20px;
        z-index: 1;
        background-color: black;
        opacity: 1%;
        height: 15vw;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;
    }
    .left-arrow{
        left: 0;
    }
    .right-arrow{
        right: 0;
    }
}

.Carousel:hover .scroll-arrow{
    opacity: 20%;
}





