@import '../assets/global.scss';
@import './NavBar.scss';

.Dropdown{
    height: inherit;
    position: relative;

    .content{
        transition: var(--transition);
        position: absolute;
        width: 200px;
        height: fit-content;
        top: var(--navbar-height);
        right: 0px;
        display: flex;
        flex-direction: column;
        background-color: var(--dropdown-bg-colour);
        border: 1px solid var(--dropdown-bg-colour);
        opacity: 0;
        border-bottom-left-radius: var(--dropdown-border-radius);
        border-bottom-right-radius: var(--dropdown-border-radius);
        font-size: var(--dropdown-font-size);
        pointer-events: none;
        
        .item{
            padding: 10px;
            text-align: left;
            transition: var(--transition);
            color: var(--dropdown-font-colour);
            svg{
                padding: 0px 15px 0px 10px;
                color: var(--dropdown-icon-colour);
            }
        }

        .item:hover{
            background-color: var(--dropdown-hover-colour);
        }
    }
    a:hover .img-wrapper{
        border: 1px var(--highlight-colour) solid;
    }
    a:hover + .content,
    .content:hover{
        pointer-events: all;
        opacity: 1;
    }
}