@import '../assets/global.scss';
@import './NavBar.scss';

.Dropdown{
    height: inherit;
    position: relative;

    .content{
        transition: 300ms;
        position: absolute;
        width: 200px;
        height: fit-content;
        top: $navbar-height;
        right: 0px;
        display: flex;
        flex-direction: column;
        background-color: #111;
        border: 1px solid #222;
        visibility: hidden;
        opacity: 0;
        border-bottom-left-radius: 5px ;
        border-bottom-right-radius: 5px ;

        .item{
            padding: 10px;
            text-align: left;

            svg{
                padding: 0px 15px 0px 10px;
            }
        }

        .item:hover{
            background-color: #222;
        }
    }
   
}
.Dropdown:hover .img-wrapper{
    border: 1px white solid;
}

.Dropdown:hover .content{
    visibility: visible;
    opacity: 1;
}