@import '../assets/global.scss';

.NavBar {
    top:0px;
    position: absolute;
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: $navbar-height;
    background: linear-gradient(#000 , $bg-colour );
    color: white;
    font-family: $font-family;
    letter-spacing: 1px;
    z-index: 1;

    .container {
        flex-direction: row;
        position: absolute;
        height: inherit;
    }

    .left-container{
        @extend .flex-center, .container;
        left: 20px;
    }
    
    .right-container {
        @extend .flex-center, .container;
        right:20px;

        img:hover {
            border: 2px white solid;
        }
    }

    .nav-item{
        @extend .flex-center;
        flex-direction: row;
        height: inherit;
        min-width: fit-content;
        padding: 0 20px 0 10px;        
        span{
            padding: 8px 1px;
            background: 
                linear-gradient(to right, transparent, transparent),
                linear-gradient(to right, white, white);
            background-size: 100% 0.1em, 0 0.1em;
            background-position: 100% 100%, 0 100%;
            background-repeat: no-repeat;
            transition: background-size 400ms;
        }

        .logo {
            width: 50px;
            padding: 0 20px;
        }

        img{
            width: 32px;
            border-radius: 5px;
            transition: 200ms;
            border: 2px transparent solid;
        }
        

        .icon{
            padding-right: 10px;
        }

        .big-icon{
            font-size: 22px;
            padding: 0px;
        }
    }
    .nav-item:hover{
        text-shadow: 0 0 10px #555;
        span {
            background-size: 0 0.1em, 100% 0.1em;
        }
    }
    .search-container{
        height: inherit;

        input{
            padding: 5px 15px;
            font-size: inherit;
            background: none;
            border: 2px solid white;
            outline: none;
            color: inherit;
            font-family: inherit;
            border-radius: 2px;
            margin: 0 10px
        }
        input:focus{
        }

        button{
            @extend .clickable;
            color: inherit;
            border: none;
            background: none;
        }
    }
}


