@import '../assets/global.scss';
 
.Preview {
    @extend .flex-center;
    z-index: 3;
    position: fixed;
    top:0;

    .scrollable-wrapper{
        display: flex;
        justify-content: center;
        position:relative;
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        padding: 50px 0px ;
        
        .popup{
            @extend .flex-center;
            position:absolute;
            background-color: $bg-colour;
            width: 50vw;
            height: fit-content;
            top: calc($navbar-height/2);
            z-index: 3;
            flex-direction: column;
            border-radius: 25px;
            margin-bottom: 50px;
            overflow: hidden;
            
            .img-wrapper{
                position: relative;
                width: 100%;
                height: 30vw;
                background-color: #719;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .img-wrapper:after {
                content: "";
                position: absolute;
                z-index: 1;
                bottom: 0;
                left: 0;
                pointer-events: none;
                background-image: linear-gradient(to bottom, rgba(255,255,255,0), $bg-colour 90%);
                width: 100%;
                height: 5em;
              }

            .exit{
                @extend .clickable;
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 1;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                outline: none;
                border: none;
                background-color: $bg-hover-colour;
                transition: 150ms;
                color: white;
                font-size: 25px;
            }
            .exit:hover{
                transform: scale(0.9);
            }
            .button-container{
                @extend .flex-center;
                flex-direction: row;
                position: absolute;
                z-index: 1;
                bottom: 80px;
                left: 80px;
                width: fit-content;

                .button {
                    @extend .flex-center, .clickable;
                    border-radius: 2px;
                    padding: 15px 30px;
                    letter-spacing: 1px;
                    background-color: white;
                    color: black;
                    border: none;
                    outline: none;
                    margin: 5px;
                    font-size: 15px;
                    font-family: inherit;
                    white-space: nowrap;
                    transition: 200ms;
                    filter: drop-shadow(0 8px 6px black);
                    font-weight: bold;

                    svg{
                        margin-right: 15px;
                        font-size: 20px;
                    }
                }
                .icon-button{
                    @extend .flex-center, .clickable;
                    z-index: 1;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    outline: none;
                    border: 2px white solid;
                    background-color: $bg-hover-colour;
                    transition: 150ms;
                    color: white;
                    font-size: 25px;
                    opacity: 70%;
                    margin: 0 10px;
                }
                .icon-button:hover{
                    opacity: 100%;
                }
                .button:hover{
                    background-color: lightgrey;
                }
            }
            .video-info{
                padding: 20px;
            }
        }
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .scrollable-wrapper::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    .scrollable-wrapper {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}