.Users {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%
}

.Users .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.Users .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 20px;

    width: 200px;
    height: 200px;
    border: 1px black solid;

}